<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scripts.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="background">
        <div class="container">
            <nav>
                <a href="{% url 'home' %}" class="home-link">Home</a>
            </nav>
            {% block content %}
            <!-- Default content goes here, if any -->
            {% endblock %}
        </div>
        <footer>
            {% block footer %}
            <p>&copy; <a href="https://www.linkedin.com/in/rukayat-balogun-983204197/" target="_blank" style="color: inherit; text-decoration: none;">Rukayat Balogun</a></p>
            {% endblock %}
        </footer>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>
