<!-- feedback.html -->
{% extends 'base.html' %}

{% block title %}Give Feedback{% endblock %}

{% block content %}
    <div class="feedback-page">
        <h1>We'd Love Your Feedback</h1>
        <p>Your feedback helps us improve our services. Please take a moment to let us know how we’re doing.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                {{ feedback_form.name }}
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                {{ feedback_form.email }}
            </div>
            <div class="form-group">
                <label for="comments">Comments:</label>
                {{ feedback_form.comments }}
            </div>
            <button type="submit" class="button feedback-submit-button">Submit Feedback</button>
        </form>
    </div>
{% endblock %}
