{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container team">
    <h1>Gallery</h1>
    <div class="row">
        {% for image in images %}
            <div class="col-md-3 team-profile">
                <div class="pic">
                    <img src="{{ image.image.url }}" class="img-responsive destaurate" alt="{{ image.title }}">
                </div>
                <h4>{{ image.title }}</h4>
                <p>{{ image.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
