{% extends "base.html" %}

{% block title %}Urpaeministry | Partnership{% endblock %}
{% block description %}Partnership{% endblock %}

{% block content %}
<!-- Page Header Section -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ptn-bg">
                <h2>Partnership</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Partnership</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Main Container Start -->
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ch-columns">
                <p>
                    From inception based on conviction, the Ministry has not received Offerings, Tithes, or any form of money from members or those who attend any of the programs. The Ministry has met its financial responsibilities through gifts from those who have decided to partner with us.
                </p>
                <p>
                    If you are interested in assisting the Ministry in meeting its benevolent assignments, you are welcome to contact us via email and inform us of areas where you would like to partner with us. Your kindness today will help grow seeds of Faith. Together, we can transform society for God.
                </p>
                <p>Luke 6:38, Deut. 15:7-15</p>
            </div>
        </div>
    </div>
</div>
<!-- Main Container End -->

{% endblock %}
